<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles.css" rel="stylesheet">

        <title>Sammy's Page</title>
    </head>
    <body class="home">
        <div class="w3-top w3-bar w3-lightgreen">
            <a href="/index" class="w3-bar-item w3-button">Home</a>
            <a href="/about" class="w3-bar-item w3-button">About</a>
            <a href="/people" class="w3-bar-item w3-button">People</a>
         </div>
        <div class="header">
            <img class="logo" src="/static/black-logo.png" alt="Periodic Archery" height="55">
        </div>

        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h4><u><b>Samuel Feenane-Levine</u></b></h4>
                <br>
                <i>Founder and designer of Periodic Archery.</i>
                <br>
                <br>
                I'm an olympic recurve archer - currently on the National Junior Squad with 2 National titles -
                with a love of computer science. I designed this website with the wants of my team-mates in mind.
                I felt that if we would benefit from this there were surely other clubs, teams and individuals that
                could use this application to bolster their training. This motivated me to make this free resource
                for archers all over the world to use.
                <br>
                I wrote the code in this project and brought great people together to make it happen.<br>
                <br>
                <br>
                <b>Contact: sfeenanelevine@gmail.com</b>
                <br>
                <br>
                <br>
                <h4><u><b>Jim Conroy</u></b></h4>
                <br>
                <i>Olympic Archer and Coach of Olympic Archers</i>
                <br>
                <br>
                Jim introduced me to the concept of periodization a few years ago. He explained how he used it
                during his most competitive time in the sport and how he now uses it with his own students. Jim
                advised me on plan duration and was a source of constant motivation and insight throughout the project.
                <br>
                <br>
                <a href="https://www.youtube.com/channel/UC3huvQJpgDDfZnUIyrRFc3A">Jim's Youtube Channel</a>
                <br>
                <a href="https://www.shootingstyle.ie/">Jim's Shop</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                 <h4><u><b>Brendan Browne</u></b></h4>
                 <br>
                 <i>Irish National Junior Squad Coach</i>
                 <br>
                 <br>
                 Brendan helped me to optimise the software for our squad as well as get it into their hands. He advised
                 me on the best course of action for rolling it out to the squad and archer's everywhere. Brendan also
                 advised me to look into copyrighting my code, ensuring that it won't be unfairly used or copied.
                 <br>
                 <br>
                 <b>Contact: aicoachbrendan@gmail.com</b>
                 <br>
                 <br>
                 <br>
                 <br>
                 <h4><u><b>Jake Kaminski</u></b></h4>
                <br>
                <i>Olympic Archer</i>
                <br>
                <br>
                I owe a lot to Jake; his videos have taught me a great deal over the years and his book -
                'Training for Archery' - made the project possible. I worked with his figures in chapter
                 2 to make my program. I can't recommend his youtube or literature enough, they have been instrumental
                 in my progress as an archer and competitor.
                 <br>
                 <br>
                 <a href="https://www.youtube.com/@JakeKaminskiArchery">Jake's Youtube Channel</a>
                 <br>
                 <a href="https://jakekaminski.com/">Jake's Website</a>
                 <br>
                 <br>
                 <br>

              </div>
              <div class="col">
                <img src="/static/sammyFL.JPG" alt="Samuel Feenane-Levine" height="350">
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="/static/jConroy.jpg" alt="Jim Conroy" height="300">
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="/static/bBrowne.jpg" alt="Brendan Browne" height="300">
                <br>
                <br>
                <br>
                <br>
                <img src="/static/jKaminski.jpg" alt="Jake Kaminski" height="250">
                <br>

            </div>

     </div>

     <h8 class="cWrite">Copyright © 2023 Samuel Feenane-Levine. All Rights Reserved.</h8>
    </body>
</html>
